<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phones</title>
    <link rel="stylesheet" href="./static/style.css">
    
</head>
<body>
    <header>

        <h1>evolution of technology</h1>
        
        <nav>

            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./aboutme.html">About me</a></li>
                <li><a href="./communication.html">About Communication</a></li>
                <li><a href="./types of communication.html">Types of Communication</a></li>
                <li><a href="registration.html" >Registration</a></li>
            
             </ul>
             
             

        </nav>
    </header>
    <header class="secondary"> 
           <h2>evolution of communication</h2>

        <p>
            The history of communication technologies (media and appropriate inscription tools) have evolved in tandem with shifts in political and economic systems, and by extension, systems of power. Communication can range from very subtle processes of exchange, to full conversations and mass communication. The history of communication itself can be traced back since the origin of speech circa 500,000 BCE[citation needed]. The use of technology in communication may be considered since the first use of symbols about 30,000 years BCE. Among the symbols used, there are cave paintings, petroglyphs, pictograms and ideograms. Writing was a major innovation, as well as printing technology and, more recently, telecommunications and the Internet. 

        </p>
        
    </header>
    <article> 
        <img src="./static/evolution of communication.png"alt="" width="30%" height="300px">
       
    
        <p>
            Verbal communication is one of the earliest forms of human communication, the oral tradition of storytelling has dated back to various times in history. The development of communication in its oral form can be categorized based on certain historical periods. The complexity of oral communication has always been reflective based on the circumstance of the time period. Verbal communication was never bound to one specific area, instead, it had and continues to be a globally shared tradition of communication.[7] People communicated through song, poems, and chants, as some examples. People would gather in groups and pass down stories, myths, and history. Oral poets from Indo-European regions were known as "weavers of words" for their mastery over the spoken word and ability to tell stories.[8] Nomadic people also had oral traditions that they used to tell stories of the history of their people to pass them on to the next generation.
        </p>
        
    </article>

    
</body>
</html>