<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="style.css">
       <link rel="shortcut icon" href="./evolution of communication.jpg" type="image/x-icon">
       <link rel="stylesheet" href="./static/style.css">


</head>
<body>
    <header>

        <h1>Evolution of Technology</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="./aboutme.html">About me</a></li>
                <li><a href="./communication.html">About Communication</a></li>
                <li><a href="./types of communication.html">Types of Communication</a></li>
                <li><a href="registration.html" >Registration</a></li>
            
             </ul>

        </nav>
    </header>
    <article>
        <p>
            Communication is simply the act of transferring information from one place, person or group to another.

            Every communication involves (at least) one sender, a message and a recipient. This may sound simple, but communication is actually a very complex subject.
            
            The transmission of the message from sender to recipient can be affected by a huge range of things. These include our emotions, the cultural situation, the medium used to communicate, and even our location. The complexity is why good communication skills are considered so desirable by employers around the world: accurate, effective and unambiguous communication is actually extremely hard.
              
            
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RkebtEk2zU0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </article>
</body>
</html>